[user]
	name = Kamal Heib
	email = kamalheib1@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto

[core]
	abbrev = 12
	editor = vim
	whitespace = nowarn
[log]
	decorate=true

[color "decorate"]
	tag = blue

[alias]
	a = add
	d = diff
	b = branch
	bl = blame
	s = status
	c = commit -v -s
	ca = commit --amend -v
	co = checkout
	cob = checkout -b
	cp = cherry-pick -s -x
	db = branch -D
	r = reset
	ri = rebase -i
	p = push
	pf = push --force

	slog = log --oneline
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short --graph
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative

	fixes = log -1 --pretty=fixes
	find = !sh -c 'git slog | grep \"$1\"' -

[pretty]
	fixes = Fixes: %h (\"%s\")

[push]
	default = matching
